.freljord {
    background-color: dodgerblue;
}
.ionia {
    background-color: palevioletred;
}
.noxus {
    background-color: maroon;
}
.piltover {
    background-color: goldenrod;
}
.zaun {
    background-color: lawngreen;
}